.root {
  @apply pt-12 bg-white;
}

.orderControll {
  height: 60px;
  @apply px-5 flex justify-between items-center border-b;

  button {
    color: #8e8e8e;
    @apply bg-transparent border-none text-sm;
  }
}

.brand {
  @apply border-b-2;
  .name {
    height: 54px;
    @apply px-5 flex items-center font-bold text-base border-b;
  }
}

.checkout {
  padding: 0 20px 10px 20px;
  box-shadow: rgb(18 18 18 / 5%) 0px -2px 5px 1px;
  @apply fixed bottom-0 bg-white;
}
