.root {
  padding-bottom: 75px;
  @apply pt-12 bg-white;
}

.brand {
  @apply px-5 py-2 mb-5 flex justify-between border-t border-b text-sm;
}

.bottomButtons {
  height: 75px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 0 15px 0;
  @apply fixed flex items-center bottom-0 bg-white;

  .like {
    @apply flex justify-center items-center h-full;
    width: 60px;
  }
}
