.root {
  max-height: 80%;
  border-radius: 20px 20px 0 0;
  overscroll-behavior-y: contain;
  @apply bg-white overflow-auto fixed bottom-0 w-full;
}

.optionContainer {
  padding: 23px 10px 145px 10px;
}

.item {
  @apply p-4 border;
}

.footer {
  @apply fixed bottom-0 bg-white;
}

.totalPrice {
  @apply flex justify-between items-center px-5 border-t;
  height: 60px;
}

.btnWrapper {
  @apply flex;
  padding: 10px;
  box-shadow: rgb(18 18 18 / 5%) 0px -2px 5px 1px;
}
